apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s
      evaluation_interval: 5s
    scrape_configs:
      - job_name: 'desafio-devops-app'
        metrics_path: /metrics
        static_configs:
          - targets:
              - 'desafio-devops-app-service.default.svc.cluster.local:8000'
