name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r app/requirements.txt

    - name: Run unit tests (dummy)
      run: echo "Running dummy unit tests..."
      # Em um cenário real, você teria um comando como: python -m pytest app/tests/

    - name: SonarQube Code Analysis (Simulated)
      run: echo "Simulating SonarQube analysis..."
      # Em um cenário real, você integraria com SonarCloud ou um SonarQube local
      # Ex: sonar-scanner -Dsonar.projectKey=my-app -Dsonar.sources=.

    - name: Build Docker image
      run: docker build -t rafaelbastos/desafio-devops-app:${{ github.run_number }} -t rafaelbastos/desafio-devops-app:latest .

    - name: Log in to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Push Docker image
      run: |
        docker push rafaelbastos/desafio-devops-app:${{ github.run_number }}
        docker push rafaelbastos/desafio-devops-app:latest

    - name: Deploy to Kubernetes (Simulated)
      run: echo "Simulating deploy to Kubernetes..."
      # Em um cenário real, você usaria kubectl para aplicar os manifestos
      # Ex: kubectl apply -f k8s/
